@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: #E5E7EB;
  font-family: 'Roboto', sans-serif;
}

/* Slider von SliderSection */

.slider::-webkit-slider-thumb {
  @apply bg-orange-500;
  @apply border-orange-500; 
}

.slider::-moz-range-thumb {
  @apply bg-orange-500;
  @apply border-orange-500; 
}

.slider::-webkit-slider-runnable-track {
  @apply bg-orange-500;
  height: 6px;
}

.slider::-moz-range-track {
  @apply bg-orange-500;
  height: 6px;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.blinking-cursor {
  animation: blink 1s infinite;
}

#richtTextBlogPage {
  font-weight: 300;
}
